#wrap {
  /* 전체화면에서 어느위치에 있을것인가 */
    border: 1px solid;
    border-color: lightgray;
    border-radius: 5px;
    max-width: 450px;
    /* 높이를 줄 필요없음 > 여백을 이용해서 높이를 조절하는게 좋음 */
    /* height: 190px; */
    /* margin은 같은 위치선상에 있을때(한부모밑에있는 형제태그)끼리 거리를 두는 것이고 padding은 안으로들어간것임*/
  }
  
  /* 3개 div를 관리 */
  #wrap > div {
    margin-top: 5px;
    padding: 20px;
    flex-direction: column;
    align-content: center;
  }
  
  #wrap > div > div {
    text-align: center;
  }
  
  .login-box {
    border: 1px solid;
    margin-top: 15px;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(58, 187, 58);
    color: white;
  }
  #login-box:hover {
    cursor: pointer;
  }
  #login-box:active {
    opacity: 0.8;
    transform: scale(0.95);
  }
  
  #naver {
    font-weight: bold;
    margin: 5px;
    font-size: 26px;
  }
  #login {
    margin: 5px;
  }
  #find-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    color: rgb(110, 108, 108);
    font-size: 14px;
  }
  #f-id,
  #f-pw,
  #sign-up {
    margin: 15px;
    color: rgb(110, 108, 108);
  }
  #f-id:hover,
  #f-pw:hover,
  #sign-up:hover {
    cursor: pointer;
  }
  #f-id:active,
  #f-pw:active,
  #sign-up:active {
    opacity: 0.8;
    transform: scale(0.95);
  }